body {
	background-color: #fafaf1;
	text-align: center;
	font-family: 'ubuntu', verdana, sans-serif;
}

header,
footer {  /* parallax effect */
    /* The image used */
    background-image: url("images/header_new.png");

    /* Set a specific height */
    height: 300px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: repeat;

	font-size: 9pt;
	line-height: 18px;
	text-transform: lowercase;
	padding: 15px 10px;
}

footer {
	height: 30px; 
}


main {
	/*width: 960px;*/
	/*border-left: 1px dotted #CCCCCC;*/
	/*font-family: verdana, sans-serif;*/
	font-size: 13px;
	margin: auto;
	border: 0px; 
	padding: 20px 0;
	text-align: left;
}

h1 {
	color: #00AE68;
	/*border-bottom: 3px solid #00e186;*/
	/*border-bottom: 1px solid #8fcbff;*/
	font: 23px "trebuchet ms", arial, verdana, sans-serif;
	letter-spacing: 2px;
	text-transform: lowercase;
	padding: 3px 0 4px 0;
	margin: 25px auto 5px;
	clear: both;
}

h2{
	color: #dc3562;
	/*border-bottom: 1px solid #b0e6f5;*/
	font: 12pt "trebuchet ms", arial, verdana, sans-serif;
	padding: 10px 5px 5px;
	/*margin-top: 2px;*/
	/*margin: 0;*/
	font-weight:bold;
}

.titlebox {
	text-align: center;
	margin-top: -25px;
	padding-bottom: 10px;
}

.title {
	background-color: #333;
	color: #eee;
	padding: 18px 25px;
	font: 22px 'Dosis', verdana, sans-serif;
	letter-spacing: 8px;
	text-transform: uppercase;
	opacity:0.95;
}

.footerbox {
	text-align: right;
	margin-top: 5px;
}

.footer {
	background-color: #333;
	color: #eee;
	padding: 10px 30px;
	font: 15px 'Dosis', verdana, sans-serif;
	letter-spacing: 8px;
	opacity:0.95;
}

.green {
	color: #00AE68;
	/*border-top: 3px solid #00AE68;*/
}

.blue {
	color: #3099f2;
	/*border-bottom: 3px solid #3099f2;*/
}

.orange {
	color: #f39d24;
	/*border-top: 3px solid #f39d24;*/
}

.purple {
	color: #dc3562;
	/*border-top: 3px solid #dc3562;*/
}



h3{ 
	font: 17px 'Dosis', verdana, sans-serif;
	color: #444;
}

h4{ 
	font: 12px verdana, arial, sans-serif;
	font-weight:bold;
	color: #f9ab05;
}

h5{ 
	font-size: 12px;
	color: #333;
	font-weight: normal;
}

p12{ 
	font: 12px verdana, arial, sans-serif;
}

blockquote {
	margin: 0 8px 0 8px; 
	padding: 8px;
	border: 1px double #ddd; 
	background-color: #fafafa;
	color: #808080;
	font: 7pt/15px verdana, arial, sans-serif;
	text-align: justify;
}


strong, b {
	color: #f9ab05;
}


a, a:link, a:visited, a:active {
	color: #f9ab05; 
	text-decoration: none;
}

a:hover {
	color: #fff; /*#03627d;*/
}

.clink {
	color: #1ea4ca;
	text-decoration: none;
	cursor:pointer;
}

.clink :hover {
	color: #03627d;
	text-decoration: none;
	cursor:pointer;
}

.tabSelect td { 
	cursor:pointer;
}

DIV.result{
	/*height: 200px;*/
	padding: 15px;
}

DIV.clear {
	display: block;
	clear:both;
}

INPUT, SELECT, TABLE, label{
	font-family: 'ubuntu', verdana, sans-serif;
	font-size: 13px;
}

.updated {
	color: #999;
	text-align: right;
	font-size: 8pt;
}

P.sep{
	border-top: 1px solid;
}

a.button {
	display: block;
	font-family: 'Ubuntu', 'century gothic', verdana, sans-serif;
	position: relative;
	float: left;
	font-size: 9pt;
	line-height: 10px;
	text-transform: lowercase;
	padding: 9px;
	margin: 0 10px 0 0;
	text-align: center;
	color: #FFF;
	border-radius: 5px;
	transition: all 0.2s;
}

/*
.btnGreen {
  border: 2px solid #00AE68;
  background: #00AE68;
}

.btnBlue {
   border: 2px solid #3099f2;
   background-color: #3099f2;
}

.btnOrange {
   border: 2px solid #f39d24;
   background: #f39d24;
}

.btnPurple {
   border: 2px solid #dc3562;
   background: #dc3562;
}

.btnGreen:hover {
  border: 2px solid #00d982;
  background: #00d982;
}

.btnBlue:hover {
  border: 2px solid #6bb4f2;
  background: #6bb4f2;
}

.btnOrange:hover {
  border: 2px solid #f3b359;
  background: #f3b359;
}

.btnPurple:hover {
  border: 2px solid #dc6887;
  background: #dc6887;
}

.button.right {
	float: right;
	margin: 0 0 0 10px;
}

.btnGreen.pressed {
  background: #fff;
  color: #00AE68;
}

.btnBlue.pressed {
  background: #fff;
  color: #3099f2;
}
*/

.imgborder {
	border: 1px solid #dddddd;
	padding: 3px;
}


.colorItem {
	display: block;
	font-family: 'Ubuntu', 'century gothic', arial, sans-serif;
	position: relative;
	float: left;
	font-size: 9pt;
	line-height: 10px;
	padding: 10px;
	margin: 0 10px 0 0;
	text-align: center;
	color: #FFF;
	border-radius: 5px;
	transition: all 0.2s ;
}

.widthmin{
	width: 120px;
}

.widthmed{
	width: 290px;
}

a.colorItem {
	/*text-transform: lowercase;*/
	color: #FFF;
}

p.itemTitle {
	font-family: verdana, arial, sans-serif;
	height: 20px;
	font-size: 10pt;
	line-height: 18px;
	color:#ffffff;
	text-transform: lowercase;
	text-align:center;
	padding: 6x;
	font-weight:bold;
	border-bottom: 2px solid #ffffff;
}

.tabledef td{
	background-color: #f3f3e1;
	color:#333333;
	vertical-align:top;
	padding: 4x;
}

/* ----- MENU ----------------------*/

nav {
	font: 12px 'Maven Pro', verdana, sans-serif;
	opacity:0.95;
	text-align: left;
	width: 200px;
}

#menuopen {
	display:none;
}
input:checked + .menu {
	display:none;
}

nav label {
	color: #f9ab05; 
	padding: 8px 14px;
	margin-left: 8px;
	width: 14px;
	background-color: #333;
	display: block;
}

nav ul {
	color: #6205f976; 
	margin: 0 0 0 8px;
	padding: 8px 14px;
	background-color: #333;
	display: block;
}

nav li {
	color: #f9a80576; 
	display: block;
	padding: 5px 8px;
	margin-left: 2px;
	list-style: none;
	border-bottom: 4px solid #222;
}

nav li:last-child {
	border-bottom: 0px;
}

nav .pressed {
	font-weight: bolder;
}
/* ---------------------------------*/

/* ----- FORM ----------------------*/

.table {
	display: block;
	width: 95%;
	padding: 10px;
	font-family: 'ubuntu', verdana, sans-serif;
	font-size: 13px;
}

.table div{
	padding: 6px 0 3px;
}

.gbutton {
	text-align: right;
	margin-right: 10px;
}

.ginput {
	width: 99%;
}
/* ---------------------------------*/


/* ----- ABOUT ---------------------*/

.about {
	margin-left: 20px;
	display: grid;
	grid-template-columns: 130px 630px;
	/*grid-template-areas: "gtitle gtitle gtitle" "glabel ginputbox gbutton";*/
	grid-row-gap: 15px;
}

.about img {
	border: 2px solid #f9a80576;
	padding: 6px;
}

/* ---------------------------------*/


/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

@media (min-width: 1080px) {
  
	/* ----- MENU ----------------------*/
	
	nav {
		width: auto;		
	}
	nav label {
		display: inline-block;
		padding: 12px 12px;
	}
	nav ul {
		display: inline-block;
		margin-left: -10px;		
	}
	input:checked + .menu {
		display:inline-block;
	}
	nav li {
		display: inline-block;
		border-right: 4px solid #222;
		border-bottom: 0px;
	}
	nav li:first-of-type {
		border-left: 4px solid #222;
	}
	/* ---------------------------------*/

	/* ----- FORM ----------------------*/

	.table {
		display: grid;
		grid-template-columns: 190px 430px 70px;
		grid-template-rows: 30px;
		/*grid-template-areas: "gtitle gtitle gtitle" "glabel ginputbox gbutton";*/
		grid-row-gap: 5px;
	}

	.gtitle {
		grid-column: 1 / 4;
	}

	.gbutton {
		justify-self: flex-end;
	}

	.ginput {
		width: 95%;
	}
	/* ---------------------------------*/
	
}