div.color_picker {
  height: 16px;
  width: 16px;
  padding: 2px 8px !important;
  border: 1px solid #ccc;
  //background: url(arrow.png) no-repeat top right;
  cursor: pointer;
 display: inline;
}

div#_color_selector {
  width: 177px;
  position: absolute;
  border: 1px solid #598FEF;
  background-color: #EFEFEF;
  padding: 2px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
}
  div#_color_custom {width: 100%; float:left;}
  div#_color_custom label {font-size: 95%; color: #2F2F2F; margin: 4px 2px; width: 25%}
  div#_color_custom input {margin: 4px 2px; padding: 0; font-size: 95%; border: 1px solid #000; width: 65%; }

div._color_swatch {
  height: 12px;
  width: 12px;
  border: 1px solid #000;
  margin: 1px;
  float: left;
  cursor: pointer;

}
